body {margin:auto;}
:focus {outline:0;}
ul, li, form {margin:0; padding:0; list-style:none;}

p, em, h1, h2, h3, h4, h5, h6 {font-weight:normal; font-family:Arial;}
p {font-size:12px;}
em {font-size:12px;}
h1 {font-size:24px;}
h2 {font-size:20px;}
h3 {font-size:18px;}
h4 {font-size:12px;}
h5 {font-size:11px;}
h6 {font-size:10px;}

/*----------------------------- HEADER ------------------------*/
#header {width:987px; height:85px;}
#header li {float:left; overflow:hidden; position:relative;}
#header li a {height:55px;display:block; text-decoration:none; cursor:hand;}
#header li span {position:absolute; font:11px Arial; color:#837351;padding-top:20px;}
#header li b {font:bold 12px "Trebuchet MS",Verdana,Arial;}
#header li .cover b {color:#f2eada;}
#header .boxgrid1 {width:75px; margin-top:15px;}
/*#header .boxgrid1 {width:75px; margin:15px 0 0 10px;}*/
#header .boxgrid2 {width:110px; margin-top:15px;}
#header .boxgrid3 {width:70px; margin-top:15px;}
#header .boxgrid4 {width:120px; margin-top:15px;}
#header .boxgrid5 {width:70px; margin-top:15px;}
#header .boxgrid6 {width:100px; margin-top:15px;}
#header .boxgrid7 {width:70px; margin-top:15px;}

/*----------------------------- FOOTER ------------------------*/
#footer {width:987px; height:152px; margin:auto; font:11px Arial; color:#a18c62;
         background:no-repeat url('../design/background-footer.jpg');}
#footer ul {padding:33px 0 0 38px; line-height:40px;}
#footer li {padding-right:6px; float:left;}
#footer .copyright {padding-right:15px;}
#footer li a {padding-right:6px; font:bold 12px Arial; text-decoration:none; color:#f2eada;}
#footer li a:hover {text-decoration:underline;}
#footer li span {color:#e3d192;}