body {background-color:#000;}
h1, h2, h3, h4, h5, h6 {color:#f2eada; font-family:"Trebuchet MS",Verdana,Arial;}
#features {margin:auto; margin-top:50px; width:900px; height:3800px;}
#features .headlines {margin:15px 0 -13px 0; border-bottom:1px solid #423825;}

/*--------------------------------- Headings ----------------------------------*/
#headings {padding:30px 0 30px 0;}
#headings p {color:#837351;}

/*--------------------------------- List Styles ----------------------------------*/
#list_styles {width:900px; padding-top:30px;height:250px;}
#list_type, #list_examples {width:730px; height:100px;margin:auto;}
#list_type .list, #list_examples .list {float:left; top:10px; margin:10px;}

#list_type .circle li {font:normal 12px Arial; color:#f2eada; line-height:20px; list-style-type:circle;}
#list_type .square li {font:normal 12px Arial; color:#f2eada; line-height:20px; list-style-type:square;}
#list_type .disc li {font:normal 12px Arial; color:#f2eada; line-height:20px; list-style-type:disc;}
#list_type .decimal li {font:normal 12px Arial; color:#f2eada; line-height:20px; list-style-type:decimal;}
#list_type .lower-alpha li {font:normal 12px Arial; color:#f2eada; line-height:20px; list-style-type:lower-alpha;}
#list_type .upper-roman li {font:normal 12px Arial; color:#f2eada; line-height:20px; list-style-type:upper-roman;}
#list_examples .example1 li {font:normal 12px Arial; color:#a38b58; line-height:20px; list-style-type:square;}
#list_examples .example1 li span {color:#f2eada;}
#list_examples .example2 li {font:normal 12px Arial; color:#f2eada; line-height:20px; list-style-type:disc;}
#list_examples .example2 li span {color:#a38b58;}
#list_examples .example3 li {font:normal 12px Arial; color:#f2eada; line-height:20px; list-style-type:circle;}
#list_examples .example4 li {font:normal 12px Arial; color:#f2eada; line-height:20px; list-style-type:decimal;}
#list_examples .example5 li {font:normal 12px Arial; color:#f2eada; line-height:20px; list-style-type:lower-alpha;}

/*--------------------------------- Misc Stuff ----------------------------------*/
#dejan {width:860px; height:500px;padding:20px;border:0px solid #332b1b;}
#dejan sup, sub, em, strong, dfn, code, del, ins {color:#f2eada; padding:0 10px 0 10px;}
#dejan fieldset {border:2px solid #423825; font:normal 12px Arial; color:#837351;padding:0px 10px 10px 20px;}
#dejan legend {padding:2px 6px 2px 6px; font-weight:bold; color:#f2eada;}
#dejan h4{color:#837351;}
#dejan p{color:#837351;}
#dejan img {float:left; padding:0 15px 5px 0;}

/*--------------------------------- Border Styles ----------------------------------*/
#borders {margin:auto;}
#borders ul{width:780px; height:350px;margin:auto; margin-top:100px;}
#borders ul li {width:110px;height:100px; float:left;}
#borders ul li img{margin-right:5px;}

#borders .example1 {border:3px dotted #c6b694;}
#borders .example2 {border:3px dashed #c6b694;}
#borders .example3 {border:3px inset #c6b694;}
#borders .example4 {border:3px outset #c6b694;}
#borders .example5 {border-style:dotted inset dotted inset; border-color:#c6b694; border-width:2px;}
#borders .example6 {border-style:dashed outset dashed outset; border-color:#c6b694; border-width:2px;}
#borders .example7 {border:2px solid #c6b694;}
#borders .example8 {border:2px solid; border-color:#ff0000 #00ff00 #3bb8ff #ffea03;}
#borders .example9 {border:1px solid #c6b694;}
#borders .example10 {border:3px solid #c6b694;}
#borders .example11 {border:6px solid #c6b694;}
#borders .example12 {border-right:10px solid #c6b694; border-top:1px solid #c6b694; border-left:1px solid #c6b694; border-bottom:10px solid #c6b694;}
#borders .example13 {border-top:10px solid #c6b694;border-left:1px solid #c6b694;border-right:1px solid #c6b694;border-bottom:1px solid #c6b694;}
#borders .example14 {border-style:solid; border:thick double #c6b694;}
#borders .example15 {border:1px solid; border-top:thick double #c6b694;}
#borders .example16 {border-top:1px solid #c6b694;}
#borders .example17 {border:1px solid #c6b694; padding:10px;}
#borders .example18 {border:1px solid #c6b694; padding:20px 20px 0 0;}
#borders .example19 {border:1px solid #c6b694; padding:0 20px 20px 0;}
#borders .example20 {border:1px solid #c6b694; padding:0 0 20px 20px;}
#borders .example21 {border:1px solid #c6b694; padding:20px 0 0 20px;}

/*--------------------------------- Box Styles ----------------------------------*/
#box_styles {width:900px; height:1100px; padding:40px 0 0 0;}

#box_styles .example1 {width:410px; height:200px; border:1px solid #423825; float:left; padding:15px; font:normal 11px Arial; color:#837351;margin-top:20px;}
#box_styles .example1 img {float:left; margin:0 13px 7px 0; border:1px solid #c6b694;}
#box_styles .example1 p {font-size:12px; margin:0px;}
#box_styles .example1 h3 {margin:0 0 10px 0;}
#box_styles .example1 a {color:#fff;}

#box_styles .example2 {width:410px; height:200px; border:1px solid #423825; float:right; padding:15px; font:normal 11px Arial; color:#837351;margin-top:20px;}
#box_styles .example2 img {float: right; margin:0 0 7px 13px; border:1px solid #c6b694;}
#box_styles .example2 p {font-size:12px; margin:0px; text-align:right;}
#box_styles .example2 h3 {margin:0 0 10px 0; text-align:right;}
#box_styles .example2 a {color:#fff; float:right;}

#box_styles .example3 {width:410px; height:200px; border:1px solid #423825; float:left; padding:15px; font:normal 11px Arial; color:#837351;margin-top:20px;}
#box_styles .example3 .example3-1 {float:left; padding:0px; border:1px solid #c6b694;}
#box_styles .example3 .example3-2 {float:left; margin:10px 15px 4px -50px; border:1px solid #c6b694;}
#box_styles .example3 p {font-size:12px; margin:0px;}
#box_styles .example3 h3 {margin:0 0 10px 0;}
#box_styles .example3 a {color:#fff; float:left; margin:0 10px 0 0;}

#box_styles .example4 {width:410px; height:200px; border:1px solid #423825; float:right; padding:15px; font:normal 11px Arial; color:#837351;margin-top:20px;}
#box_styles .example4 ul {float:left; width:95%; margin:0 0 10px 0;}
#box_styles .example4 ul li {float:left; margin:0 10px 0px 0px;}
#box_styles .example4 img {padding:0px; margin:0px; border:1px solid #c6b694;}
#box_styles .example4 p {font-size:12px; float:left; margin:0px;}
#box_styles .example4 h3 {text-align:left; margin:0 0 10px 0;}
#box_styles .example4 a {color:#fff; float:left; margin:10px 0 0 0;}

#box_styles .example5 {width:410px; height:200px; border:1px solid #423825; float:left; padding:15px; font:normal 11px Arial; color:#837351;margin-top:20px;}
#box_styles .example5 ul {float:left; width:95%; margin:12px 0 12px 0;}
#box_styles .example5 ul li{float:left; margin:0 10px 0 0;}
#box_styles .example5 img {border:1px solid #c6b694;}
#box_styles .example5 p{font-size:12px; float:left; margin:0px;}
#box_styles .example5 h3{text-align:left; margin:0 0 10px 0;}
#box_styles .example5 a {color:#fff; float:left; margin:0px;}

#box_styles .example6 {width:410px; height:200px; border:1px solid #423825; float:right; padding:15px; font:normal 11px Arial; color:#837351;margin-top:20px;}
#box_styles .example6 .example6-1 {float:left; margin:0 7px 7px 0; border:1px solid #c6b694;}
#box_styles .example6 .example6-2 {float:right; margin:0 0 7px 7px; border:1px solid #c6b694;}
#box_styles .example6 p{font-size:12px; text-align:center; margin:0px;}
#box_styles .example6 h3{margin:0 0 10px 0; text-align:center;}
#box_styles .example6 h4 {text-align:center;}
#box_styles .example6 a {color:#fff;}

#box_styles .example7 {width:410px; height:200px; border:1px solid #423825; float:left; padding:15px; font:normal 11px Arial; color:#837351;margin-top:20px;}
#box_styles .example7 ul {float:left; margin-right:13px;}
#box_styles .example7 img {border:1px solid #c6b694;}
#box_styles .example7 p{font-size:12px; margin:0px;padding-left:10px;}
#box_styles .example7 h3{line-height:20px; margin:0px 0 10px 0;}
#box_styles .example7 a {color:#fff;}

/*--------------------------------- Table Styles ----------------------------------*/
#table_example {width:800px; height:500px; padding:50px 0 0 0;}
#table_example table {border:1px solid #4f4632; border-bottom:0px solid #4f4632;}
#table_example td {width:280px; height:35px; background:#120f09; font:normal 12px Arial; color:#f2eada; text-align:center; border-bottom:1px solid #332b1b; }
#table_example th {padding:10px; border:1px solid #ac9d7c; font:normal 14px Arial; color:#f2eada;}
#table_example table .middle{background-color:#0c0a07;}