body {background:no-repeat top center url('../design/background1.jpg'); 
      background-color:#000;}
      
/*------------------------------------ Gallery ----------------------------------*/
#content-gallery {width:987px; height:650px; margin:auto; font:12px Arial; 
                  color:#837351;border:1px solid #000;}
                  
#gallery-wraper {padding-left:17px; height:500px; width:900px; margin:52px auto; text-align:left;}
div.content {display:none; float:right; width:580px;}
div.content a, div.navigation a {text-decoration:none;}

/*----------------------------------- THUMBNAILS --------------------------------*/
#thumbs {margin-top:15px;}
ul.thumbs {clear:both; height:380px;overflow:hidden;}
ul.thumbs li {float:left; margin:5px 9px 5px 0; border:1px solid #5b4d33;}
a.thumb {padding:2px; display:block;}
ul.thumbs li a:hover {border-color:#fff;}
ul.thumbs li.selected a.thumb {background:#837351;}
ul.thumbs img {border:none; display:block;}

/*--------------------------- TOP AND BOTTOM NAV-NUMBERS ------------------------*/
div.navigation div.top {height:35px;}
div.navigation div.bottom {margin-top:15px;}
div.pagination {clear:both;}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis 
    {display:block; float:left; padding:3px 7px 3px 7px; color:#9a875e; 
     font:11px Arial; background-color:#1b1405; margin-right:2px;}
div.pagination a:hover {background-color:#837351; color:#f2eada; font:bold 11px Arial;}
div.pagination span.current {font:bold 11px Arial; color:#f2eada; 
                             background-color:#837351;}

/*---------------------------- Button PLAY-PAUSE SLIDESHOW ----------------------*/
#controls {margin:14px 0px 0 0; float:right; width:123px; height:20px; 
           padding-right:10px; background:no-repeat bottom left url('../design/background-play.jpg');}
#controls .ss-controls {padding:3px 0 0 18px;}
#controls .ss-controls a {color:#f2eada; font:bold 11px Arial;}

/*------------------------- Loading image for the BIG PHOTOS --------------------*/
div.loader {position:absolute; width:545px; height:409px;
            background-image:url('../design/loaderWhite.gif');
            background-repeat:no-repeat; background-position:center;}
	
/*------------------------------- BIG PHOTOS WRAPPER-----------------------------*/
div.slideshow-container {position:relative; clear:both; padding-left:17px;}
div.slideshow span.image-wrapper 
    {display:block; position:absolute; border:1px solid #241f14; padding:3px 3px 0 0;}
div.slideshow img {border:none;}