body {background:no-repeat top center url('../design/background.jpg'); 
      background-color:#000;}

/*----------------------------- SLIDESHOW ------------------------*/
#slideshow1 {width:987px; margin:auto;padding-bottom:100px;border:0px solid #fff;}

/*----------------------------- MAIN CONTENT ------------------------*/
#content-home {width:930px; height:280px; margin:auto; font:12px Arial; color:#837351; background:#000; border-top:1px solid #1b180a;}
#content-home ul {width:100%; height:100%; margin:auto;}
#content-home ul b {font-size:11px; color:#f2eada; padding-left:10px;}
#content-home li {float:left; width:283px; padding-top:15px;}
#content-home a:hover img {filter:alpha(opacity=100); opacity:1;}
#content-home img {filter:alpha(opacity=70); opacity:0.7;}
#content-home li img{margin:5px 0 10px 0; border:1px solid #302902;}            
#content-home span {font:18px "Trebuchet MS", Verdana, Arial; color:#f2eada; line-height:47px;}
#content-home .dots {width:20px; height:200px; margin-top:29px; background:repeat-y 7px 0px url('../design/dots.gif');}
#content-home a {font:bold 12px Arial; color:#e3d192; text-decoration:none;}
#content-home a:hover {text-decoration:underline;}

