/*
 * jQuery Nivo Slider v1.6
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 div#slider {
     width:872px;
     height:347px;
     overflow:hidden;
     margin-top:44px;
     margin-left:58px;
     font:12px Arial;
     color:#b09761;
}
     
.nivoSlider {
	position:relative;
	
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}

.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}

.nivo-caption {
	position:absolute;
	bottom:-1px;
	background:#000;
	filter:alpha(opacity=90); opacity:0.9;
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:15px;
	margin:0;
}

.nivo-directionNav a {
	position:absolute;
	z-index:99;
	cursor:pointer;
	
}
.nivo-prevNav {
	left:0px;
	width:25px; 
	height:24px;
	background:no-repeat url('../design/arrow-left.gif');
}
.nivo-nextNav {
    right:0px;
	width:25px; 
	height:24px;
	background:no-repeat url('../design/arrow-right.gif');
}

.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}